@page "/"
@using BooksGQL
@inject BooksClient BooksClient;

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?"/>


@{
    if (Books?.Books?.Count > 0)
    {
        @foreach (var book in Books.Books)
        {
            <h4>@book.Title</h4>
        }
    }
}

@code {

    private IGetBooksResult? Books { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var result = await BooksClient.GetBooks.ExecuteAsync();

        Books = result.Data;
    }

}
